// contact form in about section
.form-container {
  border-radius: $border-radius-medium;
  width: 100%;
  background-color: $bg-soft;
  margin-top: 2rem;
  box-shadow: $shadow-medium;

  @include respond(desktop) {
    margin: 0;
  }

  form {
    padding: 0.6rem 1rem;
    margin: $margin-none;
    width: 100%;
    background: white;
    border-radius: 1rem;

    legend {
      color: $secondary-blue;
      // font-size: $font-size-huge;
      text-align: center;
      font-weight: $font-weight-semi-bold;
      margin-bottom: 2rem;
    }
    label,
    input,
    select,
    textarea {
      display: block;
      width: 100%;
      color: $dark-purple2;
      padding: 3px 10px;
      margin: $margin-none;
      background-color: transparent;
      // margin-left: 12px;
    }
    label {
      color: $text-blue;
      // margin: 0 10px;
      padding: $padding-none;
      margin-top: 8px;
    }
    input,
    textarea {
      background-color: rgba(162, 173, 233, 0.08);
      // margin-left: 12px;
      border-bottom: 2px solid $link-shadow;

      &:focus {
        border-bottom: none;
        background-color: $link-shadow;
        border-radius: 6px;
      }
    }
    select {
      background-color: rgba(162, 173, 233, 0.08);
      // margin-left: 12px;
      border-bottom: 2px solid $link-shadow;
      color: $text-medium;

      &:focus {
        background-color: $text-light;
      }
    }
  }
  textarea {
    resize: none;
    height: 100px;
    overflow: scroll;
  }
}
