.classes-section {
  padding: 2rem 0;
  max-width: 800px;
}

.classes-grid {
  padding: 1rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: $grid-gap-medium;
  // background-color: red;

  .classes-card {
    background: $white;
    border-radius: $border-radius-medium;
    padding: $padding-medium;
    display: flex;
    flex-direction: column;
    gap: $flex-gap-medium;

    h3 {
      color: $dark-purple;
      font-size: $font-size-h3-m;
    }

    .class-info {
      color: $text-medium;
      font-size: $font-size-body;

      span {
        color: $primary-orange;
        font-weight: bold;
      }
    }
  }
}
