.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 40px;

  @include respond(desktop) {
    gap: 50px;
  }
}

.contact-info-card {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    padding: 12px 50px;

    .contact-card {
      background: $white;
      padding: 20px;
      border-radius: 15px;
      box-shadow: $shadow-light;
      transition: 0.8s ease;
      padding-left: 20px;

      &:hover {
        transform: translateY(-3px);
      }

      h4 {
        color: $dark-purple2;
        margin-bottom: 15px;
        font-size: 1.1rem;
      }

      Link,
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 0.85rem;
        color: $text-medium;
        margin-bottom: 8px;
        text-decoration: none;

        &:hover {
          color: $primary-orange;
        }
        .contact-icon {
          color: $primary-orange;
        }
      }

      .contact-mail {
        text-transform: lowercase;
      }

      // iframe {
      //   width: 100%;
      //   height: 120px;
      //   border: none;
      //   border-radius: 10px;
      //   margin: 10px 0;
      // }

      address {
        font-size: 0.8rem;
        font-style: normal;
        color: $text-medium;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
        border-top: 2px solid rgba($text-medium, 0.3);
        padding-top: 5px;
      }
    }
  }
}

Link,
a {
  display: block;
  margin: 5px 0;
  transition: 0.3s;
  color: $text-medium;
  opacity: 0.8;
  font-size: 0.9rem;
  text-decoration: none;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    color: $primary-orange;
    transform: translateX(8px);
    text-decoration: underline;
  }
}

.contact-form-card {
  background: $white;
  padding: 30px 40px;
  border-radius: 25px;
  box-shadow: $shadow-medium;
  min-width: 330px;
  width: 100%;

  .input-row {
    display: grid;
    grid-template-columns: 1fr;

    @include respond(dekstop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }
  }

  .input-group {
    display: block;

    label {
      display: block;
      align-items: center;
      gap: 8px;
      font-size: 0.9rem;
      font-weight: 600;
      margin: 8px 0;
      color: $dark-purple1;
    }

    input,
    select,
    textarea {
      min-width: 250px;
      width: 100%;
      padding: 6px 15px;
      background: #f8faff;
      border: 1px solid #e0e8ff;
      border-radius: 10px;
      font-family: inherit;
      transition: 0.3s;
      &:focus {
        outline: none;
        border-color: $primary-orange;
        background: white;
        box-shadow: 0 0 10px rgba($primary-orange, 0.1);
      }
    }
  }

  .contact-submit-btn {
    width: 100%;
    padding: 15px;
    background: $dark-purple1;
    color: $white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $primary-orange;
      transform: translateY(-3px);
      gap: 15px;
    }
  }
}
