.home {
  max-width: $container-width-large;
  min-width: $container-width-small;
  width: $container-width-default;
  height: auto;
  min-height: 100svh;
  overflow: hidden;
  z-index: 1;

  @include flex-custom;

  .columns {
    padding: $padding-medium;
    margin-top: $margin-xlarge;

    @include flex-custom(center, center, column-reverse);
    gap: $flex-gap-medium;

    @include respond(desktop) {
      flex-direction: row;
    }
  }
  .column {
    // heading | main heading
    h1 {
      margin-bottom: $margin-small;
      color: $secondary-blue;
      font-weight: $font-weight-semi-bold;
      text-shadow: 0px 0px 3px $blue-medium;
      transition: $transition-fast;

      span {
        display: block;
        color: $primary-orange;
        font-weight: bold;
        text-shadow: none;
      }
    }

    // home buttons
    .home-buttons {
      margin-top: 0.8rem;
      padding: $padding-none;

      display: flex;
      flex-direction: column;
      align-content: flex-start;
      flex-wrap: wrap;

      @include respond(tablet) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
      }

      a {
        width: $container-width-default;
        max-width: 200px;
        padding: 8px 10px;
        margin-top: $margin-small;
        margin-right: 6px;
        border-radius: $border-radius-xlarge;

        .icon {
          margin: 5px 0 0 10px;
        }
      }
    }

    // hero image
    img {
      margin: 2rem auto;
      height: auto;
      max-width: $container-width-default;
      object-fit: cover;
      animation: updown 10s ease-in-out infinite;

      @include center-everything;
    }
  }

  // description
  .description {
    p {
      color: $blue-medium;
      line-height: 1.2;
    }

    @include respond(desktop) {
      max-width: 400px;

      p {
        line-height: 1.6;
      }
    }
  }
}

// hero image for updown animation
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}
