// main part div style
main {
  margin-bottom: $margin-xlarge;

  @include flex-custom;
}

// parts
.parts {
  margin: 3rem auto;
  padding: 0rem 1rem;
  width: 100%;
  max-width: 1140px;
  background: transparent;
  position: relative;
  flex-wrap: nowrap;

  @include respond(tablet) {
    padding: 2rem;
    margin: 0 2rem;
  }
  @include respond(desktop) {
    padding: 3rem 0rem;
  }

  h2 {
    margin: 1rem 0;
    margin-bottom: 1rem;
    color: $secondary-blue;
    font-weight: $font-weight-bold;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1;

    span {
      color: $primary-orange;
      display: block;
    }
  }

  p {
    color: $blue-medium;
    line-height: 1.2;
    padding: 0 1rem;
    text-align: center;
  }
}

// resources grid styles
.resources-grid,
.teachers-grid {
  padding: 3rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: $grid-gap-small $grid-gap-large;
}
