// footer style
footer {
  margin: 0;
  margin-top: 2rem;
  background-color: $footer-dark;
  color: $dark-purple2;
  @include flex-custom(flex-start, flex-start, column);

  h3 {
    margin-bottom: 12px;
    color: $blue-light;
    font-size: 1.2rem;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  Link,
  a {
    display: block;
    margin: 5px 0;
    transition: 0.3s;
    color: $text-light;
    opacity: 0.8;
    font-size: 0.9rem;
    text-decoration: none;
    transition: transform 0.3s ease;

    &:hover {
      color: $primary-orange;
      transform: translateX(8px);
      text-decoration: none;
    }
  }

  .footer-icon {
    margin-right: 8px;
    padding: 1px 0;
  }
}

// footer contents
.footer-contents {
  gap: 30px;
  padding: 30px 10%;
  transition: 0.3s ease;
  width: 100%;

  @include respond(desktop) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  }

  // footer cards
  .footer-card {
    margin: 2rem 0;
    width: 100%;
    padding: 0rem;
    @include flex-custom(flex-start, flex-start, column);

    p {
      color: $text-medium;
      padding: 0;
      margin: 0;
    }
  }
}

// footer logo
.footer-logo {
  color: $white;
  .logo {
    color: $white;
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Exo 2";
    display: inline-block;
    letter-spacing: 2px;

    span {
      color: $primary-orange;
    }
  }
  p {
    font-size: $font-size-body;
  }
}

// footer links
.footer-links {
  Link {
    padding-left: 10px;
    text-decoration: underline;
  }
}

// contact info
.contact-info {
  h4 {
    color: $text-medium;
    margin: 6px;
    padding-top: 1rem;
  }
  a {
    margin: 3px 1.2rem;
    text-decoration: underline;
    text-transform: lowercase;
  }
  i {
    margin-right: 10px;
  }
}

// // social media
// .social-content {
//   @include flex-custom(flex-start, center, column);
.contact-link {
  color: rgba($white, 0.7);
  text-decoration: none;
  transition: 0.3s;
  text-transform: lowercase;

  &:hover {
    color: $primary-orange;
    text-decoration: underline;
  }
}
.social-links {
  padding: 2rem 0;
  @include flex-custom(center, center, row, nowrap);
  a {
    font-size: 1.5rem;
    margin: 0 0.5rem;

    &:hover {
      color: $primary-orange;
    }
  }
}
// }

// footer bottom
#footer-bottom {
  border-top: none;
  margin-bottom: 6px;

  @include flex-custom(space-between, center, column, wrap);
  @include respond(mobile) {
    border-top: 2px solid $text-blue;
  }

  .footer-card {
    margin: 1rem 0;
    width: 100%;
    padding: 0rem;
    @include flex-custom(flex-start, flex-start, column);
  }
}

// .footer-credits,
.footer-copyrights {
  color: $white;
  display: flex;
  flex-direction: column;
}

// footer legel
.footer-legels {
  a {
    text-decoration: underline;
    margin: 0;
  }
}

// badge level up
.badge-levelup {
  i {
    margin-right: 10px;
  }
}

// footer copyrights
.footer-copyrights {
  a {
    color: $dark-purple2;
    display: inline-block;
    margin-left: 10px;
  }
}
// style end
